/* large desktop > 1200px ---------------------------------------------------*/
@media screen and (min-width:1200px){
    .wrapper{
        width: 70%;
    }

    .fixed-header{
        padding:0 15%;
    }
}

/* tablet: 768px ------------------------------------------------------------*/
@media screen and ( min-width: 768px ){
    /* tipography */
    .card h2{
        margin-bottom: 2rem;
    }
    .card p{
        line-height: 1rem;
    }

    /* jumbotron */
    .jumbo .container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .container .card{
        margin-bottom:0;
        width: calc(100% / 3 - 1.5rem)
    }

    .large{
        min-width: calc(66% - 1.1rem);
    }

    .card div{
        text-align: left;
    }

    .card img{
        left: -10px;
    }

    .card a.btn span{
        min-width: 150px;
    }

    /* testiomonials */
    .card .flex-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .flex-container .text-container p {
        text-align: left;
        margin-left: 1rem;
    }

    /* Working with us */
    .row-flex{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .row-flex .card{
        width: calc(100% / 2 - 1.5rem);
    }

    /* About us */
    .about-us div.flex-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .col-70{
        width: 50%;
    }

    .col-30{
        width: 30%;
    }
}
/* desktop > 992px *---------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .wrapper{
        width: 90%;
    }

    /* tipography */
    p{
        line-height: 1rem;
    }

    h2{
        font-size: 4rem;
    }

    h1{
        font-size: 8rem;
    }
     /* header */
     .col-burger{
        display: none;
    }

    /* img jumbotron */
    div.large{
        flex-direction: row;
    }

    div.large div:first-child{
        max-width: 60%;
        
    }

    div.large div:last-child{
        
    }

    /* strategic */
    .planning .container{
        flex-direction: row;
        gap: 1.5rem;
    }

    div.col-strategic .card{
        position: relative;
        top:70px;
    }

    /* working with us */
    .row-flex .card{
        width: calc(100% / 3 - 1.5rem);
    }
}

@media screen and (max-width:992px){
    .hidden-links {
        display: none;
    }

    /* typography */
    h2{
        font-size: 1.8rem;
    }

    h1{
        font-size: 4rem;
    }

    .card a.btn span{
        min-width: 150px;
    }
}

@media screen and (max-width:768px){
    .large div:last-child {
        display: flex;
        justify-content: center;
    }
        
}