/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* common ---------------------------------------------------------*/
body{
    font-family: 'PT sans', sans-serif;
}

:root{
    /* debug */
    --border:1px solid black;
    /* colors */
    --header-blue:#0084FD;
    --card-blue:#B5DDFF;
    --section-background-violet:#9792E4;
    --cta-title:#FDC15F;
    --footer-grey:#333333;
}

section{
    padding: 3rem 1rem;
    width: 100%;
}

section:nth-of-type(even){
    background-color: var(--section-background-violet);
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;;
}

.card{
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

.btn span{
    display: inline-block;
    background-color: #fff;
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}


a.normal{
    text-decoration: underline;
}

/* flex proprieties */
.sb{
    justify-content: space-between;
}

.fd-col{
    display: flex;
    flex-direction: column;
}

/* margin and padding */
.mb-1{
    margin-bottom: 1.5rem;
}

.pd-1{
    padding: 1rem 1rem;
}

/* typography */
h1{
    color: var(--cta-title);
}
h2{
    font-size: 3.5rem;
}

.col-strategic h2{
    margin-bottom: 2rem;
}

.card h3{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

div.card p{
    text-align: center;
}

p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

/* fixed header section------------------------------------------------ */

.fixed-header{
    position: fixed;
    z-index: 100;
    background-color: var(--header-blue);
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.hidden-links li{
    font-size: 1rem;
}

/* main ------------------------------------------------------------------- */
/* jumbo with 5 cards --------------------------------------------------------*/

.jumbo{
    padding-top: calc(1.5rem + 100px);
}

div.large{
    padding-bottom:0;
}

.container .card{
    background-color: var(--card-blue);
}

.card div{
    text-align: center;
    padding-top: 2rem;
}
.large div:last-child{
    display: flex;
    align-items: flex-end;
}
.large div:last-child img{
    display: block;
}

div.container div.large div:first-child h3 + p {
    text-align: left;
}

.card a.btn>span{
    background-color: var(--header-blue);
    color: #fff;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.card img{
    max-height: 250px;
}

.jumbo .card h3{
    color: var(--header-blue);
}

.little{
    text-align: center;
}

.little > i{
    font-size: 6rem;
    color: var(--header-blue);
    margin-bottom: 1.5rem;
}

/* Strategic planning -----------------------------------------------------------*/

.col-strategic>img{
    margin: 2rem ;
    max-width: 80%;
}

.col-strategic{
    color: #fff;
    text-align: center;
}

.col-strategic h2,
p{
    text-align: left;
}

.col-strategic .card{
    background-color: #fff;
    color: black;
}

div.strategic{
    min-width: 100%;
}

div.strategic p{
    font-style: italic;
}

.col-strategic>img{
   margin: 1.5rem 0;
   max-height: 250px;
}

.col-strategic .card>img{
    margin-bottom: 1.5rem;
    max-height: 160px;
}

#btn-small span{
    text-align: center;
    line-height: 50px;
    display: inline-block;
    background-color: var(--section-background-violet);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* testimonials----------------------------------------------------------- */

.testimonials p,
h2 {
   text-align: center; 
}
.testimonials h2{
    color: var(--section-background-violet);
    margin-bottom: 1rem;
}

.testimonials .card{
    background-color: var(--section-background-violet);
}

.testimonials .card{
    color: #fff;
}

.testimonials .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin:2rem 1rem;
}

.card .flex-container{
    align-items: center;
    padding: 0 1rem;
}

.card .name{
    text-transform: uppercase;
}

.flex-container .text-container i{
    margin: 0 0.5rem;
}

/* working with us section --------------------------------------------------------*/
.working-with{
    color: #fff;
}

.working-with h2{
    margin: 2.5rem 0;
}

.row-flex .card{
    background-color: #fff;
    padding: 2.5rem 1.5rem;
    color: var(--section-background-violet);
}

.row-flex .card p{
    text-align: left;
}

.row-flex .card h3{
    text-align: left;
}

.row-flex .card p:first-child{
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.row-flex .card p:last-of-type{
    color: black;
}

.row-flex .card .bt-violet>span{
    background-color: var(--section-background-violet);
} 

/* About US------------------------------------------------------------------- */
.about-us{
    text-align: left;
}

.about-us .col-70 h2{
    text-align: left;
    margin-bottom: 2rem;
    color: var(--section-background-violet);
}

div.img-about{
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}

div.img-about img{
    border-radius: 50%;
}

div.img-about i{
    position: absolute;
    font-size: 70px;
    top: 0px;
    right: 0px;
}

.col-30{
    color: var(--section-background-violet);
    width: 50%;
}

div.col-30 .bt-violet>span{
    background-color: var(--section-background-violet);
    padding: 0.5rem 0.8rem;
    color: #fff;
}

div.col-30 .bt-violet>span i{
    margin-right: 5px;
}

.col-30 h3{
    margin-bottom: 1.5rem;
}

/* CTA---------------------------------------------------- */

.cta{
    color: #fff;
}
.row-text p,
h1 {
    text-align: center;
    margin: 2rem;
}

.row-text .btn>span{
    color: var(--section-background-violet);
    padding: 2rem 4rem;
    border-radius: 50px;
}

.row-text p:first-child{
    color:#D4D3F3 ;
}

.row-text div{
    text-align: center;
}

/* footer-------------------------------------------------------------------- */
footer{
    background-color: var(--footer-grey);
    padding: 3rem;
    color: #fff;
}

footer a{
    color: var(--section-background-violet);
}

footer .wrapper>p{
    text-align: center;
}